<div id="top" style="display: block;">
    <div class="bar" style="width: 0;"></div>
    <a class="icon-home image-icon" href="javascript:;" data-url="<%= config.url %>"></a>
    <h3 class="subtitle"><%- page.title %></h3>
    <div class="social">
        <div>
            <div class="share">
                <a title="GitHub" class="icon-github" href="https://github.com/Chaigidel"></a>
                <a title="E-Mail" class="icon-email" href="mailto:chaigidel@outlook.com"></a>
            </div>
            <div id="qr"></div>
        </div>
    </div>
    <div class="scrollbar"></div>
</div>
